<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere delectus et saepe, laboriosam, ullam quibusdam
        facilis dignissimos voluptas molestias, ex ratione quas? Omnis est sunt necessitatibus dignissimos rem
        consectetur maxime.</p>
   {{> footer}}
</body>

</html>